body {
    background-color: #485167;
	height: 100%;
	width: 100%;
	margin: 0;
	padding: 0;
	padding-right: 0;
	margin-right: 0;
}

a {
	text-decoration: none;
	color: white;
}

@keyframes whenLoadedFadeIn {
    from {opacity: 0;}
    to {opacity: 100;}
}
/*
#top-bar {
    opacity: 0;
}

#main-section-1 {
    opacity: 0;
}

#main-section-2 {
    opacity: 0;
}

#main-section-3 {
    opacity: 0;
}

#footer {
    opacity: 0;
}

*/

.cover {
    opacity: 0;
}


