#main-section-1 {
	display: flex;
	justify-content: center;
	height: 400px;
	width: 100%;
	margin-left: auto;
	margin-right: auto;
	background-color: #485167;
}

#main-section-1-logo-text-frame {
	display: flex;
	flex-direction: column;
	background-color: #485167;
	margin-top: 70px;
    margin-bottom: 0px;
	width: 300px;
	height: 250px;
	margin-right: 175px;
}

.main-section-1-logo-text{
    display: flex;
	width: 360px;
	font-family: apercu-regular, sans-serif;
	font-size: 72px;
	color: #fff;
	margin-top: 0px;
    margin-bottom: 0px;
}

#main-section-1-logo-pillar-1 {
	background-color: #F1EA7F;
	height: 250px;
	width: 40px;
	margin-top: 70px;
}
#main-section-1-logo-pillar-2 {
	background-color: #7F4145;
	height: 250px;
	width: 40px;
	margin-top: 70px;
}

#main-section-1-logo-pillar-3 {
	background-color: #BE9EC9;
	height: 250px;
	width: 40px;
	margin-top: 70px;
}

#main-section-1-logo-pillar-4 {
	background-color: #D1B894;
	height: 250px;
	width: 40px;
	margin-top: 70px;
}

#main-section-1-logo-pillar-5 {
	background-color: #EC9787;
	height: 250px;
	width: 40px;
	margin-top: 70px;
}

