body {
	height: 100%;
	width: 100%;
	margin: 0;
	padding: 0;
	padding-right: 0;
	margin-right: 0;
}

#top-bar {
	display: flex;
	background-color: #485167;
	color: white;
	height: 100px;
	font-size: 30px;
	justify-content: center;
	position: relative;
}


#menu-buttons {
	min-width: 792px;
	display: flex;
	background-color: #485167;
	color: white;
	flex-direction: row;
	justify-content: center;
	font-size: 30px;
	font-family: Nunito,Helvetica Neue,Helvetica,Arial,sans-serif;
	align-items: flex-end;
}

.Underline {
	background-color: white;
	width: inherit;
	height: 0px; 
}

#home {
	margin-left: 20px;
	margin-right: 30px;
}

#news {
	margin-right: 30px;
}

#contact {
	margin-right: 30px;
}

#developers {
	margin-right: 30px;
}

#products{
	margin-right: 30px;
}

#gallery {
	margin-right: 30px;
}

#main-section-1 {
	display: flex;
	justify-content: center;
	height: 400px;
	width: 100%;
	margin-left: auto;
	margin-right: auto;
	background-color: #485167;
}

#main-section-3-card-1{
	display: flex;
	justify-content: center;
	color: white;
	background-color:#485167;
}

#main-section-3-card-2{
	display: flex;
	justify-content: center;
	color: white;
	background-color:#485167;
}

#main-section-3-card-3{
	display: flex;
	justify-content: center;
	color: white;
	background-color:#485167;
}

.logos {
	margin-top: 20px;
	font-size: 6em;
}


#main-section-1-logo-text-frame {
	display: flex;
	flex-direction: column;
	background-color: #485167;
	margin-top: 70px;
	width: 300px;
	height: 250px;
	margin-right: 175px;
}

.main-section-1-logo-text{
	display: flex;
	width:360px;
	font-family: apercu-regular,sans-serif;
	font-size: 72px;
	color: #fff;
	margin-top: 0px;
}

#main-section-1-logo-pillar-1 {
	background-color: #F1EA7F;
	height: 250px;
	width: 40px;
	margin-top: 70px;
}
#main-section-1-logo-pillar-2 {
	background-color: #7F4145;
	height: 250px;
	width: 40px;
	margin-top: 70px;
}

#main-section-1-logo-pillar-3 {
	background-color: #BE9EC9;
	height: 250px;
	width: 40px;
	margin-top: 70px;
}

#main-section-1-logo-pillar-4 {
	background-color: #D1B894;
	height: 250px;
	width: 40px;
	margin-top: 70px;
}

#main-section-1-logo-pillar-5 {
	background-color: #EC9787;
	height: 250px;
	width: 40px;
	margin-top: 70px;
}



.infobox {
	margin-left: 20px;
	margin-right: 40px;
	opacity: 0;
	border-radius: 5px;
	box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
	height: 270px;
	width: 200px;
	margin-top: 70px;
	background-color: #EAE6DA;
	transition: opacity 5s, transform 1s;
	animation-name: fadeIn;
	animation-duration: 2s;
}
.infobox:hover {
	display: inline-block;
	box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

@keyframes fadeIn {
    from {margin-top: 120px;}
    to {margin-top: 70px;}
}

@keyframes borderWidth {
	from {height: 0px; }
	to {height: 5px ; }
}

@keyframes borderWidthOut {
	from {height: 5px; }
	to {height: 0px ; }
}

#main-section-2 {
	display: flex;
	background-image: url("../pictures/kamera.jpg");
	flex-direction: column;
	justify-content: flex-start;
	height: 500px;
	width: 100%;
	margin-left: auto;
	margin-right: auto;
	background-color: #D1B894;
    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

#main-section-3 {
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
	height: 400px;
	width: 100%;
	margin-left: auto;
	margin-right: auto;
	background-color: #BCBCBE;
}

a {
	text-decoration: none;
	color: white;
}

#footer {
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
	height: 400px;
	width: 100%;
	margin-left: auto;
	margin-right: auto;
	background-color: black;
}

#gallery-section {
	display: flex;
	justify-content: center;
	height: 100%;
	width: 100%;
	margin-left: auto;
	margin-right: auto;
	background-color: #485167;
}


