#top-bar {
    display: flex;
    background-color: #485167;
    color: white;
    height: 100px;
    font-size: 30px;
    justify-content: center;
    position: relative;
}


#menu-buttons {
    min-width: 792px;
    display: flex;
    background-color: #485167;
    color: white;
    flex-direction: row;
    justify-content: center;
    font-size: 30px;
    font-family: Nunito, Helvetica Neue, Helvetica, Arial, sans-serif;
    align-items: flex-end;
}

#home {
    margin-left: 20px;
    margin-right: 30px;
}

#news {
    margin-right: 30px;
}

#contact {
    margin-right: 30px;
}

#developers {
    margin-right: 30px;
}

#products {
    margin-right: 30px;
}

#gallery {
    margin-right: 30px;
}

.Underline {
    background-color: white;
    width: inherit;
    height: 0px;
}

@keyframes underlineVisible {
    from {
        height: 0px;
    }
    to {
        height: 5px;
    }
}

@keyframes underlineHide {
    from {
        height: 5px;
    }
    to {
        height: 0px;
    }
}
